@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Dodo.AspNet.SessionProviders.CosmosDb.TestWeb</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>@Html.ActionLink("Write to session", "Index", "WriteToSession")</p>
        <p>@Html.ActionLink("Read from session", "Index", "ReadOnlySession")</p>
    </div>
</div>