<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>
    <connectionStrings>
        <add name="cosmosSessionConnectionString" connectionString="Env:COSMOS_CONNECTION_STRING" />
    </connectionStrings>
    <system.diagnostics>
        <trace autoflush="true"></trace>
        <sources>
            <source name="DodoBrands.CosmosDbSessionProvider.Cosmos.CosmosDbSessionStateProvider"
                    switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add name="console" type="System.Diagnostics.ConsoleTraceListener">
                    </add>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="sourceSwitch" value="All" />
        </switches>
    </system.diagnostics>
    <system.web>
        <compilation debug="true" targetFramework="4.8" />
        <httpRuntime targetFramework="4.8" />
        <sessionState cookieless="false" regenerateExpiredSessionId="false" mode="Custom" customProvider="my"
                      timeout="1" compressionEnabled="true">
            <providers>
                <add name="my" type="DodoBrands.AspNet.SessionProviders.Cosmos.CosmosDbSessionStateProvider"
                     xLockTtlSeconds="10" databaseId="testdb"
                     connectionStringName="cosmosSessionConnectionString" />
            </providers>
        </sessionState>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                      type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
        </compilers>
    </system.codedom>
    <system.webServer>
        <modules>
            <remove name="Session" />
            <add name="Session"
                 type="Microsoft.AspNet.SessionState.SessionStateModuleAsync, Microsoft.AspNet.SessionState.SessionStateModule, Version=1.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 preCondition="integratedMode" />
        </modules>
    </system.webServer>
</configuration>